GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=openai/gpt-oss-120b

SQL_SERVER=localhost,1433
SQL_DATABASE=AIBusinessInsightDB
SQL_USERNAME=sa
SQL_PASSWORD=your_sql_server_password_here
SQL_DRIVER={ODBC Driver 18 for SQL Server}